*{ margin: 0;
padding: 0;}
.header{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid red;
}
.menu{
    margin-left: 400px;
    font-family: sans-serif;
}
.logo{
    margin-left: 36px;
    margin-top: 5px;
}

.menulista{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 16px;
}
.listaiconos{
    display: flex;
    list-style: none;
}

.home1{
    background-color: #F9EFED;
    margin: 0%;
    padding: 15px;
    border: 1px solid blue;
    padding-top: 39px;
}
.slyder{
    border: 2px solid purple;
    height: 700px;
    background-color: #BD6F51;
}
.redes{
    padding: 0px;
}
.listaredes1{
    list-style: none;
    display: flex;
    transform: rotate(90deg);
    padding-top: 350px;
    gap: 1rem;
}
.seccion1{
    background-color: #F9EFED;
    border: 2px solid rgb(6, 7, 6);
    height: 600px;
}
.seccion2{
    border: 2px solid green;
    height: 900px;
    background-color: #ffff;
}
.subtitulo{
    /* display: flex; */
    border: 0px solid #080505 ;
    padding: 20px;
}
.alineacionsubtitulo{
    display: inline-block;
    vertical-align: middle;
}
.logoseccion{
    background-color: #BD6F51;
    padding: 7px 15px 5px;
    border-radius: 0 10px 0 10px;
    margin-left: 80px;
}
.textologo{
    margin-left: 20px;
    color: #222222;
}
.textodeseccion{
    border: 1px solid blue;
    padding: 0px 20px;
}
.parrafo1{
    border: 2px solid green;
    width: 24%;
    height: 650px;
    color:#888585;
    margin-left: 80px;
    margin-top: 50px;
}
.parrafo2{
    border: 2px solid green;
    width: 24%;
    height: 650px;
    color:#888585;
    margin-top: 50px;
    margin-left: 10px;
}
.imagen2seccion{
    border: 2px solid green;
    width: 40%;
    height: 600px;
    margin-top: 90px;
    margin-left: 10px;
}
.alineaciontexto2{
    display: inline-block;
    vertical-align: top;
}
img {
    max-width: 100%;
}

.seccion3{
    border: 2px solid rgb(187, 15, 115);
    height: 250px;
    background-color: #FFFFFF;

}
.logo2{
     border: 2px solid rgb(235, 250, 25);
     height: 180px;
     width: 180px;
}
.textoseccion3{
     border: 2px solid rgb(1, 20, 83);
     height: 120px;
     width: 200px;
}
.imgsecc3{
    margin-left: 90px;
}
.alineaciontexto3{
    display: inline-block;
    vertical-align: top;
    padding: 78px 10px 10px 10px;
}
.alineacionimg3{
    padding-top: 35px;
}
.seccion4{
    border: 2px solid rgb(0, 230, 31);
    height: 650px;
    background-color: #FFFFFF;
    position: relative;
}
.container4{
    border: 2px solid rgb(128, 0, 122);
    width: 670px;
    height: 470px;
    background-color: #F9EFED ;
    margin-top: 90px;
    margin-right: 90px;
    position: absolute; /* Permite posicionar el elemento libremente dentro de su contenedor relativo */
    top: 1%;
    right: 2%;
}
.img4{
    margin-top: 140px;
    margin-left: 120px;
    position: relative;
}
.titulocontainer{
    border: 2px solid rgb(230, 0, 50);
    margin-top: 60px;
    margin-left: 40px;
}
.divcontainer{
    border: 2px solid rgb(0, 0, 0);
    width: 333px;
    height: 160px;
}
.flex{
    display: flex;
}
.imgcontainers{
   width: 60px;
   height: 60px;
   padding: 60px 10px 20px 10px;
}
.txtcontainers{
    padding: 40px 40px;
}



.seccion5tienda{
    border: 2px solid rgb(0, 0, 0);
    height: 550px;
    background-color: #1faf5b;
}



.iconosxs{
    list-style: none;
    display: flex;
    align-items: center;

}

a{
    text-decoration: none;

}
.menulista a {
    text-decoration: none;
    color: rgb(49, 47, 47);
    
}

.user{
    display: inline-block;
    vertical-align: middle;
}
h2{
    font-size: 50px;
    font-weight: normal;
}
h3{
    font-size: 45px;
}
h5{
    font-size: 16px;
}
.gris{
    color:#888585 ;
}
.negrolight{
    color: #222222;
}

.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.playfair-display-bold{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-bold {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}
