*{ margin: 0;
padding: 0;}
.header{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid red;
}
.menu{
    margin-left: 400px;
    font-family: sans-serif;
}
.logo{
    margin-left: 36px;
    margin-top: 5px;
}

.menulista{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 16px;
}
.listaiconos{
    display: flex;
    list-style: none;
}

.home1{
    background-color: #F9EFED;
    margin: 0%;
    padding: 15px;
    border: 1px solid blue;
    padding-top: 39px;
}
.slyder{
    border: 2px solid purple;
    height: 700px;
    background-color: #BD6F51;
}
.redes{
    padding: 0px;
}
.listaredes1{
    list-style: none;
    display: flex;
    transform: rotate(90deg);
    padding-top: 350px;
    gap: 1rem;
}
.seccion1{
    background-color: #F9EFED;
    border: 2px solid rgb(6, 7, 6);
    height: 600px;
}
.seccion2{
    border: 2px solid green;
    height: 800px;
    background-color: #ffff;
}
.subtitulo{
    /* display: flex; */
    border: 0px solid #080505 ;
    padding: 20px;
}
.alineacionsubtitulo{
    display: inline-block;
    vertical-align: middle;
}
.logoseccion{
    background-color: #BD6F51;
    padding: 10px 15px 8px;
    border-radius: 0 10px 0 10px;
}
.textologo{
    margin-left: 20px;

}
.textodeseccion{
    border: 1px solid blue;
    padding: 0px 20px;
}
.parrafo1{
    border: 2px solid green;
    width: 24%;
    height: 200px;
}
.parrafo2{
    border: 2px solid green;
    width: 24%;
    height: 200px;
}
.imagen3seccion{border: 2px solid green;
    width: 50%;
    height: 200px;
}
.alineaciontexto3{
    display: inline-block;
    vertical-align: top;
}

img {
    max-width: 100%;
}

.seccion3{
    border: 2px solid rgb(187, 15, 115);
    height: 300px;
    background-color: #9fa129;

}
.seccion4{
    border: 2px solid rgb(0, 230, 31);
    height: 650px;
    background-color: #1f4daf;

}
.seccion5tienda{
    border: 2px solid rgb(0, 0, 0);
    height: 550px;
    background-color: #1faf5b;

}

.iconosxs{
    list-style: none;
    display: flex;
    align-items: center;

}

a{
    text-decoration: none;

}
.menulista a {
    text-decoration: none;
    color: rgb(49, 47, 47);
    
}

.user{
    display: inline-block;
    vertical-align: middle;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: normal;
}