*{ margin: 0;
padding: 0;
}
.header{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid red;
}
.menu{
    margin-left: 450px;
    font-family: sans-serif;
    color: #222222;
}
.logo{
    margin-left: 36px;
    margin-top: 5px;
}
.menulista{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 16px;
}
.listaiconos{
    display: flex;
    list-style: none;
}
.home1{
    background-color: #F9F6EF;
    margin: 0%;
    padding: 15px;
    border: 1px solid blue;
    padding-top: 39px;
}
/* .redes{
    padding: 0px;
}
.listaredes1{
    list-style: none;
    display: flex;
    transform: rotate(90deg);
    padding-top: 350px;
    gap: 1rem;
} */
.seccion1{
    background-color: #F9F6EF;
    border: 2px solid rgb(6, 7, 6);
    height: 650px;
}
.movil-puntos{
    border: 2px solid green;
    width: 150px;
    height: 650px;
}
.titulo-slyder{
    margin-top: 40px;
}
.box-slyder{
    width: 40%;
    height: 650px;
}
.parrafo-secc1{
    text-align:left;
    line-height: 24px;
    padding: 15px 100px 15px 10px ;
}
.boton-secc1{
    margin: 50px 0;
    padding: 18px 25px;
    border-radius: 0 20px 0 20px;
    background-color: #4B5A47;
    border-style: none;
    color: #F9F6EF;
    font-size: 15px;
}
.img1{
    border: 2px solid green;
    width: 48%;
    height:650px;
    object-fit: cover;
    clip-path:inset( 40px 0 30px 0);

}
.seccion2{
    /* border: 2px solid green; */
    height: 900px;
    background-color: #F9F6EF;
}
.subtitulo{
    /* display: flex; */
    border: 0px solid #080505 ;
    padding: 20px;
}
.alineacionsubtitulo{
    display: inline-block;
    vertical-align: middle;
}
.logoseccion{
    background-color: #4B5A47;
    padding: 7px 15px 5px;
    border-radius: 0 10px 0 10px;
    margin-left: 80px;
}
.textologo{
    margin-left: 20px;
    color: #222222;
}
.textodeseccion{
    /* border: 1px solid blue; */
    padding: 0px 20px;
}
.parrafo1{
    /* border: 2px solid green; */
    width: 22%;
    height: 650px;
    color:#888585;
    margin-left: 80px;
    margin-top: 50px;
    text-align: left;
    line-height: 24px;
}
.parrafo2{
    /* border: 2px solid green; */
    width: 22%;
    height: 650px;
    color:#888585;
    margin-top: 50px;
    margin-left: 18px;
    text-align: left;
    line-height: 24px;
}
.imagen2seccion{
    /* border: 4px solid green; */
    width: 40%;
    margin-top: 70px;
    margin-left: 10px;
    position: relative;
    z-index: 2;
}
.imagen-superpuesta2{
  /* border: 2px solid fuchsia; */
  position: relative;
  z-index: 2; /* para colocarla sobre las líneas */
  clip-path:inset( 0 0 0 0);
  height: 635px;
}
.linea1-1, .linea2-2 {
     /* border: 2px solid fuchsia; */
  background-color: #4B5A47;
  width: 350px;
  height: 80px;
  position: absolute;
  z-index: 1; /* para colocarlo detrás de la imagen */
}
.linea1-1 {
  bottom: 590px;
  left: 200px;
}
.linea2-2 {
  top: 590px;
  right: 200px;
}
.alineaciontexto2{
    display: inline-block;
    vertical-align: top;
}
img {
    max-width: 100%;
}

.seccion3{
    /* border: 2px solid rgb(187, 15, 115); */
    height: 185px;
    background-color: #F9F6EF;

}
.logo2{
     /* border: 2px solid rgb(235, 250, 25); */
     height: 180px;
     width: 180px;
}
.textoseccion3{
     /* border: 2px solid rgb(1, 20, 83); */
     height: 120px;
     width: 200px;

}
.imgsecc3{
    margin-left: 90px;
    border-radius: 60%;

}
.alineaciontexto3{
    display: inline-block;
    vertical-align: top;
    padding: 78px 10px 10px 10px;
}
.alineacionimg3{
    padding-top: 35px;
}
.seccion4{
    /* border: 2px solid rgb(0, 230, 31); */
    height: 650px;
    background-color: #F9F6EF;
    position: relative;
}
.container4{
    /* border: 2px solid rgb(128, 0, 122); */
    width: 670px;
    height: 470px;
    background-color: #4B5A47;
    margin-top: 90px;
    margin-right: 90px;
    position: absolute; /* Permite posicionar el elemento libremente dentro de su contenedor relativo */
    top: 1%;
    right: 2%;
}
.img4{
    margin-top: 117px;
    margin-left: 120px;
    position: relative;
    object-fit: cover
    /* clip-path:inset( 0 0 10px 0); */
}
.titulocontainer{
    /* border: 2px solid rgb(230, 0, 50); */
    padding-top: 40px;
    padding-bottom: 30px;
    margin-left: 40px;
    color: #F9F6EF;
}
.bloque-2{
    /* border: 2px solid red; */
    padding: 10px;
}
.divcontainer{
    /* border: 2px solid rgb(0, 0, 0); */
    width: 333px;
    height: 160px;

}
.divcontainer p{
    padding: 8px 18px 8px 5px;
    color: #F9F6EF;
    font-size: 17px;
}
.divcontainer h5{
    padding: 8px 5px;
    font-size: 22px;
}

.flex{
    display: flex;
}

.imgcontainers{
   width: 45px;
   height: 45px;
   padding: 20px 20px 20px 23px;
}

.seccion5tienda{
    /* border: 2px solid rgb(0, 0, 0); */
    height: 650px;
    text-align: center;
    background-color: #F9F6EF;
}
.container-tienda{
    margin: 40px 20PX 30PX 140PX;
}
.items-tienda{
    border: 2px solid rgb(202, 8, 170);
    height: 380px;
    width: 340px;
    margin: 10px;
    /* object-fit: cover; */
    /* clip-path:inset( 15px 0 0 0px); */
}
.seccion6{
     /* border: 2px solid rgb(0, 0, 0); */
    height: 600px;
    background-color: #F9F6EF;
}
.alineaciontitulo6{
    display: inline-block;
    vertical-align:top ;
}
.subsecc6{
    display: inline-block;
    line-height: 1.2;
}
.secc6blog{
    box-sizing: border-box;
    /* border: 2px solid maroon; */
    text-align: left;
    width: 60%;
    height: 500px;
}
.psecc6{
    /* border: 2px solid maroon; */
    padding: 40px 80px 100px 80px;

}

.seccion6img{
    box-sizing: border-box;
    /* border: 2px solid fuchsia; */
    width: 40%;
    height: 500px;
    position: relative;
}

 .linea1,
.linea2 {
  /* border: 2px solid fuchsia; */
  background-color: #4B5A47;
  width: 300px;
  height: 80px;
  position: absolute;
  z-index: 1; /* para colocarlo detrás de la imagen */
}
.linea1 {
  bottom: 380px;
  left: 150px;
}
.linea2 {
  top: 370px;
  right: 190px;
}

 .imgsuperpuesta {
  /* border: 2px solid fuchsia; */
  width: 350px;
  height: 360px;
  position: relative;
  z-index: 2; /* para colocarla sobre las líneas */
  margin: 60px 0 0 70px;
  clip-path:inset( 0 0 0 0);
}
.seccion7{
    /* border: 2px solid rgb(0, 0, 0); */
    height: 300px;
    background-color: #F9F6EF;
    padding: 100px;

}
.parte2-seccion7{
    width: 20%;
    height: 400px;
    /* border: 2px solid red; */
display: inline-block;
margin-right: 15px;
vertical-align: top;
text-align: center;
padding: 0px 7px 0px 32px;

}
.parte2-seccion7 h2{
font-size: 24px;
margin: 10px 0;
}
.fondo-icono{
    background-color: #4B5A47;
    padding: 30px 18px 12px 18px;
    height: 70px;
    width: 70px;
    border-radius: 0px 20px 0px 20px;
    margin: 0px auto;
}
.seccion8{
    border: 2px solid violet;
    height: 500px;
    background-color: #F9F6EF;
}
.box-seccion-8{
    width: 60%;
    height: 300px;
    background-color: #4B5A47;
    margin: 50px 20%;
    position: absolute;
  z-index: 1;
  display: inline-flex;
}

.imgsuperpuesta-secc8 {
  /* border: 2px solid fuchsia; */
  position: relative;
  z-index: 2; /* para colocarla sobre la caja */
  margin: 85px 0 0 60px;
  right: 120px;
  width: 120px;
}
.p-secc-8{
    /* border: 2px solid slateblue; */
    height: 200px;
    width: 500px;
    padding: 50px 50px 50px 0px;
    color: #F9F6EF;
text-align: center;
font-size: 18px;
}
.p-secc-8 h5{
    font-size: 28px;
}
.seccion-follow{
    /* border: 2px solid mediumorchid; */
    height: 120px;
    background-color: #F9F6EF;
    text-align: center;
    padding-bottom: 40px;
}

a{
    text-decoration: none;
}
.menulista a {
    text-decoration: none;
    color: rgb(49, 47, 47);
}

.resaltado{
    font-weight: bold;
}
footer{
    background-color: #4B5A47;
    height: 250px;
    padding-left: 50px;
    color: #F9F6EF;
}
footer p{
    margin-top: 19px;
}
.secciones-footer{
     width: 19%;
    height: 240px;
    /* border: 2px solid red; */
display: inline-block;
margin: 8px 5px;
vertical-align: top;
padding: 0px 7px 0px 28px;
text-align: justify;


}
.seccion2-footer{
    width: 25%;
    height: 240px;
    /* border: 2px solid red; */
display: inline-block;
margin: 8px 5px;
vertical-align: top;
padding: 0px 7px 0px 28px;
text-align: justify;

}
footer h5{
    text-align: center;
}
h1{
    font-size: 100px ;
}
h2{
    font-size: 50px;
}

h3{
    font-size: 45px;
}
h4{
    font-size: 35px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 16px;
}
.gris{
    color:#888585 ;
}
.negrolight{
    color: #222222;
}
.verde-greenflor{
    color: #4B5A47;
}
.beige{
    color: #F9F6EF;
}

.playfair-display{
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.playfair-display-bold{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-bold {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

input[type="email"] {
  width: 180px;
  padding: 6px;
  border: 2px solid #F9F6EF;
  border-radius: 0 20px 0 20px;;
  font-size: 16px;
}

button {
  background-color: #4B5A47;
  color: #F9F6EF;
  border: 2px solid #F9F6EF;
  padding: 10px 15px;
  border-radius: 0 20px 0 20px;;
  cursor: pointer;
}

button:hover {
  background-color: #6d7c69;
}